<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>C-137 | OPERATIVO - Data Warehouse</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="./../css/all.min.css">

  <!-- Theme style -->
  <link rel="stylesheet" href="./../css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
        <h1><b>C-137</b> | OPERATIVO</h1>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Inicia tu sesion para comenzar</p>

      <form action="/login" method="post">
        <div class="input-group mb-3">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" id="pass" name="pass" placeholder="Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <!-- <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div> -->
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!-- <p class="mb-1">
        <a href="forgot-password.html">I forgot my password</a>
      </p> -->
      <p class="mb-0">
        <a href="/register" class="text-center"><b>REGISTRATE</b></a> si no inicia sesion
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="./../js/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="./../js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="./../js/adminlte.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.all.min.js"></script>

<!-- script para hacer el borrado con sweetalert2 https://sweetalert2.github.io/#handling-buttons-->

<% if(alert) { %> 
    <script>    
        Swal.fire({
            title: '<%= alertTitle %>', 
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>', 
            showConfirmButton: <%= showConfirmButton %>,  
            timer: <%= timer %>    
        }).then(() => {
            window.location = '/<%= ruta %>';
        })    
    </script>
    
<% } %>  
</body>
</html>
